{% assign entry = include.entry %}
<div class="card mt-3 p-3">
  <h3 class="card-title font-weight-medium">{{ entry.title }}</h3>
  <div>
  {% if entry.type == "list" %}
    {% include cv/list.html entry=entry %}
  {% elsif entry.type == "map" %}
    {% include cv/map.html entry=entry %}
  {% elsif entry.type == "nested_list" %}
    {% include cv/nested_list.html entry=entry %}
  {% elsif entry.type == "time_table" %}
    {% include cv/time_table.html entry=entry %}
  {% elsif entry.type == "subsections" %}
    {% include cv/subsections.html sections=entry.contents %}
  {% else %}
    {{ entry.contents }}
  {% endif %}
  </div>
</div>
