{% assign sections = include.sections | default: include.entry.contents %}
{% assign heading_tag = include.heading_tag | default: "h4" %}
<div class="cv-subsections">
  {% for section in sections %}
    <section class="cv-subsection">
      <{{ heading_tag }} class="cv-subsection-title">{{ section.title }}</{{ heading_tag }}>
      {% if section.type == "list" %}
        {% include cv/list.html entry=section %}
      {% elsif section.type == "map" %}
        {% include cv/map.html entry=section %}
      {% elsif section.type == "nested_list" %}
        {% include cv/nested_list.html entry=section %}
      {% elsif section.type == "time_table" %}
        {% include cv/time_table.html entry=section %}
      {% else %}
        {{ section.contents }}
      {% endif %}
    </section>
  {% endfor %}
</div>
