---
layout: default
---

<!-- about.html -->
      <div class="post">
        <header class="post-header">
          <h1 class="post-title">
            <span class="lang-ja">{{ page.header_title_ja | default: site.title }}</span>
            <span class="lang-en">{{ page.header_title_en | default: site.title }}</span>
          </h1>
          <p class="desc">
            <span class="lang-ja">{{ page.subtitle }}</span>
            <span class="lang-en">{{ page.subtitle_en | default: page.subtitle }}</span>
          </p>
        </header>

        <article>
          {% if page.profile -%}
          <div class="profile float-{%- if page.profile.align == 'left' -%}left{%- else -%}right{%- endif -%}">
            {%- if page.profile.image %}
              {%- assign profile_image_path = page.profile.image | prepend: 'assets/img/' -%}

              {% if page.profile.image_circular %}
                {%- assign profile_image_class = "img-fluid z-depth-1 rounded-circle" -%}
              {% else %}
                {%- assign profile_image_class = "img-fluid z-depth-1 rounded" -%}
              {% endif %}

              {% include figure.html 
              path=profile_image_path 
              class=profile_image_class
              alt=page.profile.image -%}
            {% endif -%}
            {%- if page.profile.address %}
            <div class="address">
              {{ page.profile.address }}
            </div>
            {%- endif %}
          </div>
          {%- endif %}

          <div class="clearfix">
            {% include render_bilingual_content.html rendered_content=content %}
          </div>

          <!-- News -->
          {% if page.news -%}
            <h2><a href="{{ '/news/' | relative_url }}" style="color: inherit;">news</a></h2>
            {%- include news.html %}
          {%- endif %}

          <!-- Selected papers -->
          {% if page.selected_papers -%}
            <h2><a href="{{ '/publications/' | relative_url }}" style="color: inherit;"><span class="lang-ja">主な研究・発表</span><span class="lang-en">selected work</span></a></h2>
            {%- include selected_papers.html %}
          {%- endif %}

          <!-- Social -->
          {%- if page.social %}
            <div class="social">
              <div class="contact-icons">
                {% include social.html %}
              </div>

              <div class="contact-note">
                <span class="lang-ja">{{ site.contact_note }}</span>
                <span class="lang-en">{{ site.contact_note_en | default: site.contact_note }}</span>
              </div>
              
            </div>
          {%- endif %}
        </article>

</div>
