<!DOCTYPE html>
<html lang="{{ site.lang }}" data-site-lang="{{ site.lang }}">

  <!-- Head -->
  <head>
  {%- if page.redirect -%}
    <meta http-equiv="refresh" content="3; url={{ site.baseurl }}/" />
  {%- endif -%}
  {% include head.html %}
  </head>

  <!-- Body -->
  <body
    class="{% if site.navbar_fixed %}fixed-top-nav{% endif %} {% unless site.footer_fixed %}sticky-bottom-footer{% endunless %}"
    data-is-home="{% if page.url == '/' %}true{% else %}false{% endif %}"
    data-page-title-ja="{{ page.title | default: '' | escape }}"
    data-page-title-en="{{ page.title_en | default: page.title | default: '' | escape }}"
    data-site-title-ja="{{ page.site_title_ja | default: site.site_title_ja | default: site.title | escape }}"
    data-site-title-en="{{ page.site_title_en | default: site.site_title_en | default: site.title | escape }}"
  >

    <!-- Header -->
    {%- include header.html %}

    <!-- Content -->
    <div class="container mt-5">
      {{ content }}
    </div>

    <!-- Footer -->
    {%- include footer.html %}

    <!-- JavaScripts -->
    {% include scripts/jquery.html %}
    {% include scripts/bootstrap.html %}
    {% include scripts/masonry.html %}
    {% include scripts/misc.html %}
    {% include scripts/badges.html %}
    {% include scripts/mathjax.html %}
    {% include scripts/analytics.html %}
    {% include scripts/progressBar.html %}
  </body>
</html>
